@{
    ViewData["Titulo"] = "Consulta de Servicios";
}

<div class="col-12">
    <div class="row">
        <div class="col-2">
            <label for="consulta_cboProveedor" class="form-label">Proveedor</label>
            <select class="form-select" id="consulta_cboProveedor"></select>
        </div>
        <div class="col-2">
            <label for="consulta_cboServicio" class="form-label">Servicio</label>
            <select class="form-select" id="consulta_cboServicio">
            </select>
        </div>
        <div class="col-3">
            <label for="consulta_txtFechaIni" class="form-label">Fecha</label>
            <div class="input-group">
                <input type="date" class="form-control" id="consulta_txtFechaIni">
                <span class="input-group-text"> - </span>
                <input type="date" class="form-control" id="consulta_txtFechaFin">
            </div>
        </div>
        <div class="col-2">
            <label for="consulta_txtFolio" class="form-label">Folio</label>
            <input type="number" class="form-control" id="consulta_txtFolio">
        </div>
        <div class="col-2 d-flex align-items-end">
            <button type="button" class="btn btn-primary" id="consulta_btnBuscar"><i class="bi bi-search"></i> Buscar</button>        
        </div>
    </div>
</div>
<hr />
<div id="consulta_tablaServicios" class="mt-2"></div>
<div id="modalContainer"></div>

@section Scripts {
    <script src="~/js/consulta_servicios.js"></script>
    <script src="~/js/efectivo.js"></script>
}
