<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="modalCapataz">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Capataces</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="divErrores" class="alert alert-danger d-none" role="alert">
                </div>
                <div class="col-12">
                    <div class="col-4">
                        <label for="capataz_txtFiltro" class="form-label">Buscar: </label>
                        <div class="input-group">
                            <input type="tel" class="form-control" id="txtCapataz_filtro" maxlength="15" placeholder="Por favor, ingrese el dni o nombre" required>
                            <button class="btn btn-outline-secondary" type="button" id="capataz_btnBuscar"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </div>
                <div id="tablaCapataces" class="mt-2"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>