<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="modalMapa">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Selector de Ubicación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">                
                <div id="mapa" style="width: 100%; height: 420px"></div>
                <p class="hint mt-1">
                    💡 Puedes arrastrar el marcador rojo o hacer clic en el mapa para cambiar la ubicación.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                <button class="btn btn-primary" id="mapa_btnCapturar">
                    <i class="bi bi-geo-alt-fill"></i> Capturar
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAd1hkMBQT-jKBbUB9DaSS3e7_bFR4o5U&libraries=places&language=es&callback=initMap" async defer></script>   