<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Estimados,</p>
    <p>Por medio del presente, le informamos que se ha propuesto la ampliación del horario del servicio, pasando del horario ${HraFinal} al horario ${HraAmplia}, con el objetivo de mejorar la atención.</p>
    <p>En ese sentido, agradeceremos pueda brindarnos su <b>aprobación</b> para proceder con la implementación de este cambio. El folio de referencia es el <b>${Folio}</b></p>       
    <p>Este es un mensaje generado automáticamente, por favor no responder.</p>
    <br />
    Atentamente,
    <br />
    ${NombreUsuario}
</body>
</html>