<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Estimados,</p>
    <p>Por medio del presente, les informamos que se ha realizado la modificación de algunos datos del servicio, conforme a los requerimientos establecidos. A continuación, se detallan los cambios efectuados en el folio <b>${Folio}</b>:</p>  
    <table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse;">
        <tr>
            <th>Campo</th>
            <th>Valor anterior</th>
            <th>Valor nuevo</th>
        </tr>       
        ${DatosModificados}
    </table>

    <p>Agradeceremos puedan tomar en cuenta estos cambios para las gestiones correspondientes.</p>
    <p>Este es un mensaje generado automáticamente, por favor no responder.</p>
    <br />
    Atentamente,
    <br />
    ${NombreUsuario}
</body>
</html>